# 鏁版嵁搴撶殑鍦板潃 (涓€鑸繚鎸侀粯璁ゅ嵆鍙?
DATABASE_PATH: "./assets/PAN123DATABASE.db"

# 缃戦〉杩愯鐨勭鍙?(涓€鑸繚鎸侀粯璁ゅ嵆鍙?
# 缃戦〉閾炬帴 http://{IP}:{PORT}/
PORT: 33333

# Telegram 鐖櫕鍙傛暟
CHANNEL_NAME: "" # 澶у搴旇閮界煡閬撴槸 telegram 鐨勫摢涓兢, 鑷繁濉叆 (@xxxx鐨剎xxx閮ㄥ垎), GitHub涓嶆槑璇翠簡
MESSAGE_AFTER_ID: 8050 # 寤鸿浠庣 8050 鏉℃秷鎭紑濮嬬埇, 鍥犱负涔嬪墠鐨勫唴瀹瑰叏閮藉け鏁堜簡


# 姝ゅ鎻掓挱涓€鏉￠噸瑕佹彁绀猴細鏇存柊鏁版嵁搴撳姛鑳界幇鍦ㄥ凡缁忚縼绉诲埌"绠＄悊鍚庡彴闈㈡澘"涓?


# 绠＄悊鍛樺叆鍙? 鐢ㄤ簬鐧诲綍鍚庡彴
# 绠＄悊椤甸潰: http://{IP}:{PORT}/{ADMIN_ENTRY}/login
# 浠ユ湰妯℃澘鐨勯厤缃负渚?
# 绠＄悊鍚庡彴鍦板潃: http://127.0.0.1:33333/m1racle_admin/login
# 绠＄悊鍚庡彴鐢ㄦ埛鍚? admin
# 绠＄悊鍚庡彴瀵嗙爜: 123456
ADMIN_ENTRY: "admin_xxxxxxxx"
ADMIN_USERNAME: "admin"
ADMIN_PASSWORD: "123456"

# 瀵嗛挜, 鐢ㄤ簬鍔犲瘑 cookies, 濡傛灉浣犺閮ㄧ讲鏈綉绔? 骞朵笖寮€鏀剧粰鍏朵粬鐢ㄦ埛浣跨敤, 璇峰姟蹇呬慨鏀?
SECRET_KEY: "请修改为随机字符串"

# 浠诲姟瓒呮椂鏃堕棿, 鍗曚綅涓? 绉?
# 寤鸿淇濇寔涓洪粯璁ょ殑 10 鍒嗛挓, 閬垮厤鏈変汉瀵煎嚭澶ч噺鏂囦欢銆佸崰鐢ㄥぇ閲忚祫婧? 瀵艰嚧鍏朵粬鐢ㄦ埛涓€鐩村湪鎺掗槦
# 瀵逛簬鍒汉鐨勫垎浜悎闆?渚嬪:"25TB鐣墽璧勬簮鍒嗕韩"), 璇峰姟蹇呭皢姣忎釜鍒嗕韩椤圭洰(渚嬪:姣忎釜鐣墽)鍗曠嫭瀵煎嚭, 鑰屼笉鏄洿鎺ュ鍑烘暣涓悎闆?
# 濡傛灉鏄鍏?瀵煎嚭鏃堕棿瓒呰繃 10 鍒嗛挓鐨勪换鍔★紝閭ｅぇ姒傜巼鏄釜鍚堥泦鍒嗕韩鍖? 寤鸿鐩存帴kill鎺?
TASK_QUEUE_TIMEOUT_SECONDS: 600

# 鏃ュ織淇濆瓨鐩綍, 涓€鑸笉鍔?
LOG_DIR: "./logs"

# 鏃ュ織绾у埆: DEBUG, INFO, WARNING, ERROR, CRITICAL
# 濡傛灉浣犳兂姝ｅ父浣跨敤: 寤鸿浣跨敤 INFO
# 鏈嶅姟鍣ㄩ儴缃叉椂: 鎺ㄨ崘浣跨敤 WARNING, 閬垮厤鏃ュ織鏂囦欢鎷夊睅
# 濡傛灉浣犳兂鍙嶉 bug: 浣跨敤 DEBUG
LOGGING_LEVEL: "INFO"

# 鏈湴閮ㄧ讲鏃讹紝鍙互鍏抽棴 BAN_IP 鍔熻兘銆?
# 濡傛灉浠呰嚜宸变娇鐢紝寤鸿璁句负 False
BAN_IP: False
